*{
    font-family: sans-serif;
    box-sizing: border-box;
    background-color:#eeeff1;
}
.header{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
.nav-2 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.nav-2 ul li a {
    text-decoration: none;
    color: #000;
    padding-right: 2rem;   
}